{% extends "home/base.html" %}

{% load static %}
{% block extracss %}
<link href="{% static 'css/style_dynamic.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Home | Consolata International University{% endblock %}

{% block content %}
{% block hero %}
  <section class="hero">
    <div class="slides">
      <div class="slide active" style="background-image: url('{% static 'img/interim_photos/IMG_5230.JPG' %}');"></div>
      <div class="slide active" style="background-image: url('{% static 'img/interim_photos/IMG_5156.JPG' %}');"></div>
      <div class="slide active" style="background-image: url('{% static 'img/interim_photos/IMG_5160.JPG' %}');"></div>
      <div class="slide active" style="background-image: url('{% static 'img/interim_photos/IMG_5164.JPG' %}');"></div>
      <div class="hero-content">
        <div>
          <h2>Shape Your Future with a Community that Cares</h2>
          <p>Explore career-ready programs, values-driven education, and a vibrant campus community. Join us in pursuing excellence and impact.</p>
          <div class="hero-ctas">
            <a class="btn primary" href="#apply">Start Your Application</a>
            <a class="btn" href="#programs">Explore Programs</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}
<p></p>
<section class="vc-message mb-4 mt-4"> 
  <div class="container vc-grid-sidebar"> 
    <!-- Sidebar --> 
     <aside class="vc-sidebar"> 
      <h3>Quick Links</h3> 
      <ul> 
        <li><a href="https://repository.consolatainstituteofphilosophy.com:8443/jspui/">Repository</a></li>
        <li><a href="https://library.consolatainstituteofphilosophy.com/s">Library Search</a></li> 
        <li><a href="https://maktaba.consolatainstituteofphilosophy.com/">Library Intranet</a></li> 
        <li><a href="#contact">Contact Us</a></li> 
      </ul> 
      <!-- <h3>Contact Info</h3> <p>Email: info@ciu.ac.ke<br>Phone: +254 700 000 000</p> --> 
      </aside> 
      <!-- Main VC content --> 
       <div class="vc-main"> 
        <div class="vc-text"> 
          <h2>Message from the Vice Chancellor</h2> 
          <p>Welcome to Consolata International University, where we are dedicated to nurturing minds and transforming lives. Our commitment to academic excellence, innovative research, and community engagement is at the heart of everything we do. Join us on a journey of discovery, growth, and impact as we prepare the next generation of leaders and change-makers.</p> </div> <div class="vc-photo-container"> <div class="vc-photo" style="background-image: url('{% static 'img/chancellor.jpeg' %}');">

        </div> 
        <div class="vc-caption"> 
          <h4>Rev. Fr. Dr. James Kabata</h4> 
          <p>Vice Chancellor</p> 
        </div> 
      </div> 
    </div> 
  </div> </section> 
  <p></p>
{% endblock %}
