{% extends "home/base.html" %}

{% load static %}


{% block title %}Home | Consolata International University{% endblock %}

{% block content %}
<p></p>
<section class="vc-message mb-4 mt-4"> 
  <div class="container vc-grid-sidebar"> 
    <!-- Sidebar --> 
     <aside class="vc-sidebar"> 
      <h3>CIU Leadership</h3> 
      <ul> 
        <li><a href="#programs">CIU Departments</a></li>
        <li><a href="#admissions">Vacancies</a></li> 
        <!-- <li><a href="#research">Research</a></li>  -->
        <li><a href="#contact">Contact School</a></li> 
      </ul> 
      <!-- <h3>Contact Info</h3> <p>Email: info@ciu.ac.ke<br>Phone: +254 700 000 000</p> --> 
      </aside> 
      <!-- Main VC content --> 
       <div class="vc-main"> 
        <div class="vc-text">
            <!-- <section id="about-theology"> -->
                <h2>Officials</h2>
            <ol>
               <li>
                    Rev. Fr. James Wangai Kabata, OFMConv, PhD-Vice Chancellor
               </li>
               <li>
                Rev. Fr. Augustine Mugambi, CSSR - Dean of Studies
                </li>
                <li>
                    Rev. Dr. Gregory Nzau, Imc, D.V.C Academic, Research and Students’ Life
                </li>
                <li>
                    Rev. Fr. Sylvester Mwake Kiamba, Imc, M.A, H.O.D Language
                </li>
                <li>
                    Mr. Anthony Kithinji, M.A –Registrar
                </li>
                <li>
                    Rev. Fr. Mwaniki, Imc- Finance Controller
                </li>
                <li>
                    Rev. Fr. Augustine Mugambi, Redemptorist, M.A-Dean of
                    Students.
                </li>
            </ol>

            <h2>BOM Members</h2>
            <ul>
                <li>
                    Rector
                </li>
                <li>
                    Dean of Studies
                </li>
                <li>
                    Dean of Students
                </li>
                <li>
                HOD
                <li>
                Philosophy
                </li>
                <li>
                HOD Religious Studies
                </li>
                <li>
                HOD Languages
                </li>
                <li>
                Administrator
                </li>
                <li>
                Chairman of Formators
                </li>
                <li>
                Librarian
                </li>
                <li>
                Administrative Secretary
                </li>
                <li>
                A Representative from the Regional Council
                </li>

            </ul>
                            
        </div>
        <div class="vc-photo-container"> <div class="vc-photo" style="background-image: url('{% static 'img/Jude.png' %}');">

        </div> 
        <div class="vc-caption"> 
          <h4>Fr. Dr. Jude Katende </h4> 
          <p>DVC Finance</p> 
        </div> 
        <div class="vc-photo-container"> <div class="vc-photo" style="background-image: url('{% static 'img/gregory.jpg' %}');">

        </div> 
        <div class="vc-caption"> 
          <h4>Rev. Dr. Gregory Nzau,IMC</h4> 
          <p>D.V.C Academic, Research and Students’ Life</p> 
        </div> 
    </div> 
  </div> </section> 
  <p></p>
{% endblock %}
