{% extends "home/base.html" %}

{% load static %}


{% block title %}Home | Consolata International University{% endblock %}

{% block content %}
<p></p>
<section class="vc-message mb-4 mt-4"> 
  <div class="container vc-grid-sidebar"> 
    <!-- Sidebar --> 
     <aside class="vc-sidebar"> 
      <h3>CIU Leadership</h3> 
      <ul> 
        <li><a href="#programs">CIU Departments</a></li>
        <li><a href="#admissions">Vacancies</a></li> 
        <!-- <li><a href="#research">Research</a></li>  -->
        <li><a href="#contact">Contact School</a></li> 
      </ul> 
      <!-- <h3>Contact Info</h3> <p>Email: info@ciu.ac.ke<br>Phone: +254 700 000 000</p> --> 
      </aside> 
      <!-- Main VC content --> 
       <div class="vc-main"> 
        <div class="vc-text">
            <!-- <section id="about-theology"> -->
                <h2>Management Bord</h2>
            <ol>
               <li>
                    Rev. DR. James Wangai Kabata, OFMConv, Vice Chancellor
               </li>
               <li>
                    Rev. Dr. Gregory Nzau, IMC, D.V.C Academic, Research and Students’ Life
                </li>
                <li>
                 Rev. Dr. Jude Katende, IMC, D.V.C Administration, Finance and Development
                </li>
                <li>
                    Rev. Dr. Joseph Mwaniki, IMC- Finance Administrator
                </li>
                <li>
                    Mr. Anthony Kithinji, M.A –Registrar
                </li>
                <li>
                    Prof.Justus Mbae – Dean School of Philosophy
                </li>
                <li>Rev. Dr. Josaphat Wanyonyi,IMC - Dean School of Theology</li>
                <li>Dr. Jane Kiarie - Dean School of Counselling Psychology</li>

                <li>Rev. Dr. Francis Kanyiri, OFMConv.- Quality Assurance Officer/Hod Religious Studies</li>
               <li>
                Rev. Fr. Augustine Mugambi, Redemptorist, M.A-Dean of
                Students.
                </li>
                
                <li>
                    Rev. Fr. Sylvester Mwake Kiamba, IMC, M.A, H.O.D Language
                </li>
                <!-- <li>Rev. Dr. Patrick Assanga, IMC - Academic Leader Philosophy</li> -->
                <!-- <li>Dr. Anne Mwiti - Academic Leader Counselling Psychology</li> -->
                <!-- <li>Rev. Dr. Thomas Mushi, IMC - Academic Leader Theology</li> -->
                <li>Dr. Stephen Onyango - Chief Editor</li>
                <li>Miss. Sheila Awino - Accountant</li>
                <li>Br. Wilson Mutethia - Librarian</li>
                <li>Sr. Joyce Rita Karambu - Administrative Secretary </li>
                <li>Mr. Brian Ogalo - I.C.T. Officer</li>

            </ol>
            


            
                            
        </div>
        <div class="vc-photo-container"> <div class="vc-photo" style="background-image: url('{% static 'img/Jude.png' %}');">

        </div> 
        <div class="vc-caption"> 
          <h4>Fr. Dr. Jude Katende, IMC </h4> 
          <p>D.V.C Administration, Finance and Development</p> 
        </div> 
        <div class="vc-photo-container"> <div class="vc-photo" style="background-image: url('{% static 'img/gregory.jpg' %}');">

        </div> 
        <div class="vc-caption"> 
          <h4>Fr. Dr. Gregory Nzau,IMC</h4> 
          <p>D.V.C Academic, Research and Students’ Life</p> 
        </div> 
    </div> 
  </div> </section> 
  <p></p>
{% endblock %}
