{% extends "home/base.html" %}

{% load static %}
{% block extracss %}
<link href="{% static 'css/style_dynamic.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Home | Consolata International University{% endblock %}

{% block content %}

<p></p>
<section class="vc-message mb-4 mt-4"> 
  <div class="container vc-grid-sidebar"> 
    <!-- Sidebar --> 
     <aside class="vc-sidebar"> 
      <h3>Quick Links</h3> 
     
      </aside> 
      <!-- Main VC content --> 
       <div class="vc-main"> 
            <div class="vc-text">

            </div>
        </div>
{% endblock %}
