{% extends "home/base.html" %}

{% load static %}


{% block title %}Home | Consolata International University{% endblock %}

{% block content %}
<p></p>
<section class="vc-message mb-4 mt-4"> 
  <div class="container vc-grid-sidebar"> 
    <!-- Sidebar --> 
     <aside class="vc-sidebar"> 
      <h3>Admission</h3> 
      <ul> 
        <li><a href="#programs">Categories Of Study</a></li>
        <li><a href="#admissions">Assesment & Grading</a></li> 
        <!-- <li><a href="#research">Research</a></li>  -->
        <li><a href="#contact">Office Charges</a></li> 
        <li><a href="#contact">Contact Registrar</a></li> 
        
      </ul> 
      <!-- <h3>Contact Info</h3> <p>Email: info@ciu.ac.ke<br>Phone: +254 700 000 000</p> --> 
      </aside> 
      <!-- Main VC content --> 
       <div class="vc-main"> 
        <div class="vc-text">
            <!-- <section id="about-theology"> -->
                <h2>Requirements For Admission</h2>
                <ol>
                    <li>
                        All the admissions are dealt with by the office of the Registrar.
                    </li>
                    <li>
                        To be admitted to the Institute, candidates must:
                        <ul>
                            <li> Have completed Secondary Education in their respective
                countries and obtained the qualifications necessary to join a university or a diploma institution
                </li>
                <li>
                    Be presented by their superiors if they are from a religious
                    congregation or by their Bishop if they are diocesan. Lay
                    applicants need a letter of recommendation from their
                    parish priests or from a recognized authority.
                </li>
                <li>Have a good knowledge and command of English attested
                by the attainment of grade C or above in the Kenya
                Certificate of Secondary Education or the equivalent. If
                knowledge of English is judged insufficient, a candidate
                will be advised to take the English Course offered in the
                preparatory stages or from CLC. The Institute may require
                a special proficiency test, e.g., TOEFL or PITMAN, from
                students who request for a dispensation in English and
                whose first academic language is not English.
                </li>
                
            <li>
                
                Fill an application form and return it duly completed before
                the end of June or in the beginning of August with certified
                copies of: ID Card and/or passport, results slip or KCSE/A
                Level Certificate, birth certificate; recent 3 color passport-
                size photographs and a recommendation letter from the
                superior/formator of the sponsoring community. The
                student’s names at admission should be maintained
                throughout the course. We prefer the names as contained
                in the official personal identification documents such as
                ID, Passport or Birth Certificate.   
            </li>
            </ul>
                    </li>
                    <p></p>
             
                                     
        </div>
        
        <div class="vc-photo-container"> <div class="vc-photo" style="background-image: url('{% static 'img/registrar.jpg' %}');">

        </div> 
        <div class="vc-caption"> 
          <h4>Mr.Anthony Kithinji - M.A</h4> 
          <p>Registrar </p> 
        </div> 
    </div> 
  </div> </section> 
  <p></p>
{% endblock %}
