config.json
tribal-datum-339312-c3a246587cf0.json
.venv/*
.env
*.sqlite3
run.py
*.pyc
__pycache__
.vscode/
settings.json
*.log
env/*
venv/*
run.py
static_files/*
venv/
foo.py
media_files/
*.DS_Store
static/*
media/*
# .env 