{% extends 'home/base2.html' %}
{% load static %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}">
{% endblock %}

{% block objectives %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="table-responsive">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h2 class="card-title">My claims</h2>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <!-- <a href="" type="button" class="btn btn-primary text-nowrap" data-bs-toggle="modal" data-bs-target="#createClaimModal">Create Claim</a> -->
                            <a href="{% url 'staff_teachers:staff-claim-form' %}"  type="button" class="btn btn-primary text-nowrap">Create Claim</a>
                        </div>
                    </div>
                    
                    <table id="biannual_appraisals" class="table table-striped table-bordered display text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Staff Name</th>
                                <th>Month</th>
                                <th>Date Submitted</th>
                                <th>Comments</th>
                                <th>Total</th>
                                <th>State</th>
                                
                            </tr>
                        </thead>    
                        <tbody>
                            {% for claim in claims %}
                            
                            <tr>
                                <td>{{claim.id}}</td>
                                <td>{{claim.staff_name}}</td>
                                <td>{{claim.month}}</td>
                                <td>{{claim.submitted_at}}</td>
                                <td>{{claim.comments}}</td>
                                <td>{{claim.total}}</td>
                                <td>{{claim.state}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assets/js/vendor.min.js' %}"></script>
<script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'assets/js/datatable/datatable-basic.init.js' %}"></script>
<script>
    $(document).ready(function() {
        $('#biannual_appraisals').DataTable({
            "order": [[ 1, "desc" ]]  // Order by the Period column (4th column)
        });
    });
</script>

{% endblock %}