{% extends 'home/base2.html' %}
{% load static %}


{% block extracss %}
<link rel="stylesheet" href="{% static 'assets/libs/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}">
{% endblock %}

{% block objectives %}active{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <!-- <div class="table-responsive"> -->
                <div class="card-body">
                    <!-- <div class="d-flex justify-content-between align-items-center mb-3"> -->
                        <h2 class="card-title">Create course</h2>
                        <div class="d-flex justify-content-between align-items-center mb-3">
                        </div>
                    <!-- </div> -->

        <form method="post" id="submitForm" action="{% url 'staff_teachers:create-course-list' %}"  enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card shadow mb-4">
            
            </div>
            <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                <label for="ticketFunction" class="col-sm-4 col-form-label">Course Code.:</label>
                <div class="col-sm-8  py-2">
                    <input type="text" class="form-control" id="course-code" name="course_code" value="" placeholder="">
                    <input type="hidden" id="course-id" name="course_id" value="">
                </div>
                
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                <label for="ticketFunction" class="col-sm-4 col-form-label">Course Title.:</label>
                <div class="col-sm-8  py-2">
                    <input type="text" class="form-control" id="course-title" name="course_title" value="" placeholder="">
                </div>
                
                </div>
            </div>

            </div>
            <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                <label for="ticketFunction" class="col-sm-4 col-form-label">Year.:</label>
                <div class="col-sm-8  py-2">
                    <input type="text" class="form-control" id="year" name="year" value="" placeholder="">
                </div>
                
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                <label for="ticketFunction" class="col-sm-4 col-form-label">Semester.:</label>
                <div class="col-sm-8  py-2">
                    <input type="text" class="form-control" id="semester" name="semester" value="" placeholder="">
                    
                </div>
                
                </div>
            </div>

            </div>
            <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                <label for="ticketFunction" class="col-sm-4 col-form-label">Credit.:</label>
                <div class="col-sm-8  py-2">
                    <input type="text" class="form-control" id="credit" name="credit" value="" placeholder="">
                </div>
                
                </div>
            </div>
            <div class="col-md-6">
                
            </div>

            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <div class="submit-spinner" id="spinner"></div>
            <button type="submit" class="btn btn-primary" id="submitButton">Submit</button>
        </div>
        </div>
        </div>
        </form>
    </div>
</div>
</div>
</div>
</div>

  <script src="{% static 'assets/js/vendor.min.js' %}"></script>
  <script src="{% static 'assets/libs/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'assets/js/datatable/datatable-basic.init.js' %}"></script>
  {% endblock %}